@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

html, body {
    margin: 0;
    padding:0;
    height: 100%;
    width: 100%
}
.intro{
    height: 100%;
    width: 100%;
    margin: auto;
    background-image: url(../images/bg5.jpg);
    background-size: cover;
    display: table;
    top: 0;
}
.intro .inner{
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    max-width: none;
}
.content {
    max-width: 500px;
    margin: 0 auto;
    text-align: center;
}
.content h1 {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #6a5c5c;
    font-size: 60px;
}
.content p {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #3a3732;
    font-size: 32px;
}
/*-----Navbar-----*/

.navstyle .nav-item .nav-link {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 18px;
    color: #3A3732;
}

/*------Sociallinks----*/
.img-container{
    text-align: center;
}
.icons{
    font-size: 46px;
    color: black;
    padding: 25px
}